@import "../../styles/variables.css";
@import "../../styles/colors.css";

.form-field {
  text-align: initial;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-half) var(--spacing-base);
  height: 80px;
}

.form-field__label {
  text-transform: capitalize;
}

.form-field__control {
  border: none;
  box-shadow: 0 1px 0 0 var(--shadow-base-color);
  padding: 0 var(--spacing-half);
}

.form-field__control:focus {
  box-shadow: none;
  outline: none;
  box-shadow: 0 2px 0 0 var(--shadow-focus-color);
}

.form-field__error {
  color: var(--form-validation-error-color);
  font-size: 0.85em;
  line-height: 1.2;
  font-weight: 500;
  height: 27px;
}
