@import '../../../styles/variables.css';
@import '../../../styles/colors.css';

.card {
  width: 360px;
  height: 80px;
}

.card.selected {
  background-color: var(--selected-chat-background-color);
}

.card__wrapper {
  width: 100%;
}

.card__wrapper__body {
  display: flex;
}

.card__wrapper__body__logo {
  width: 20%;
  padding: var(--padding);
  padding-bottom: var(--big-padding);
}

.card__wrapper__body__content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.card__wrapper__body__content_top,
.card__wrapper__body__content_bottom {
  height: 50%;
  display: flex;
}

.card__wrapper__body__content_top {
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: var(--small-padding);
}

.card__wrapper__body__content_top__name,
.card__wrapper__body__content_bottom__message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__wrapper__body__content_top__name {
  left: 0;
  font-weight: 600;
}

.card__wrapper__body__content_top__message-date {
  right: 0;
  padding-right: 10px;
  opacity: 0.5;
}

.card__wrapper__body__content_bottom__author {
  color: var(--chat-info-author);
  white-space: nowrap;
}

.card__wrapper__body__content_bottom__message {
  padding-left: var(--small-padding);
}
