@import '../../../styles/variables.css';

.message {
  display: flex;
}

.message__icon {
  width: 50px;
  height: 50px;
  max-width: 50px;
  margin-right: var(--spacing-large);
  flex: 1;
}

.message__body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: 150%;
}

.message__author {
  text-align: left;
  font-weight: 600;
}

.message__content {
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
}

.message__time {
  text-align: end;
  flex: 0;
  padding-left: var(--spacing-large);
  padding-top: calc(var(--spacing-smallest) + var(--spacing-double));
}

.message__created {
  opacity: 0.5;
  font-size: 0.85em;
}
