@import "../../../styles/variables.css";

.message {
  display: flex;
  margin: var(--spacing-small) var(--spacing-base) var(--spacing-small) var(--spacing-large);
}

.message.chained {
  margin: calc(var(--spacing-half) * -1) var(--spacing-base) calc(var(--spacing-half) * -1) var(--spacing-large);
}

.message.chained:last-child {
  margin-bottom: var(--spacing-small);
}

.message.chained > .message__icon,
.message.chained > .message__body > .message__author {
  display: none;
}

.message.chained > .message__body > .message__content {
  margin-left: calc(var(--avatar-width) + var(--spacing-large));
}

.message.chained > .message__time {
  padding-top: 0;
}

.message__icon {
  width: var(--avatar-width);
  height: var(--avatar-width);
  max-width: var(--avatar-width);
  margin-right: var(--spacing-large);
  flex: 1;
}

.message__body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.message__author {
  text-align: left;
  font-weight: 600;
  height: var(--spacing-double);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message__content {
  line-height: 150%;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: justify;
}

.message__time {
  opacity: 0.5;
  font-size: 0.85em;
  padding-left: var(--spacing-largest);
  padding-top: var(--spacing-double);
}
