:root {
  --chat-info-author: #7b97ce;
  --layout-background-color: #ebf2fa;
  --default-background-color: #ffffff;
  --selected-chat-background-color: #e5e5e5;
  --service-message-background-color: #eaeae9;
  --form-validation-error-color: #ff0000;
  --shadow-base-color: #e8e8e8;
  --shadow-focus-color: #77b7e4;
}
