@import '../../../styles/variables.css';
@import '../../../styles/colors.css';

.content {
  width: 100%;
  position: relative;
  padding: var(--spacing-large) 0;
  background-color: var(--default-background-color);
}

.content .close-chat-button {
  position: absolute;
  display: none;
  left: 0;
  margin-left: var(--spacing-large);
  width: var(--spacing-double);
  height: var(--spacing-double);
  border-radius: 50%;
  color: var(--default-background-color);
  text-align: center;
  background: #777777;
}

@media screen and (max-width: 500px) {
  .content .close-chat-button {
    display: block;
  }

  .hidden {
    display: none;
  }
  .displayed {
    width: 100%;
    max-width: 100vw;
  }
}
