@import "../../../styles/colors.css";

.auth-form-container {
  height: 100vh;
}

.auth-form-wrap {
  box-shadow: 1px 2px 2px 3px rgba(0,0,0,0.1);
  padding: 30px;
  width: 400px;
  min-height: 150px;
  border-radius: 10px;
}

.auth-form-header {
  padding-left: 20px;
  text-align: initial;
  text-transform: uppercase;
}

.auth-form {
  flex-direction: column;
  padding: 10px;
}

.auth-form__actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.auth-form__button {
  align-self: flex-end;
  text-transform: capitalize;
}

.auth-form__button:hover {
  color: #77b7e4;
}
