@import "../../../styles/colors.css";
@import "../../../styles/variables.css";

.auth-form-container {
  height: 100vh;
}

.auth-form-wrap {
  box-shadow: 1px 2px 2px 3px rgba(0,0,0,0.1);
  width: 400px;
  min-height: 150px;
  padding: calc(var(--spacing-largest) - var(--spacing-base));
  border-radius: var(--spacing-base);
}

.auth-form-header {
  padding-left: var(--spacing-double);
  text-align: initial;
  text-transform: uppercase;
}

.auth-form {
  flex-direction: column;
  padding: var(--spacing-base);
}

.auth-form__actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: var(--spacing-base) var(--spacing-half);
}

.auth-form__button {
  align-self: flex-end;
  text-transform: capitalize;
}

.auth-form__button:hover {
  color: var(--shadow-focus-color);
}
